@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Black+Ops+One&family=Caveat&family=Courgette&family=Croissant+One&family=Dancing+Script:wght@500;700&family=Handlee&family=Kaisei+HarunoUmi:wght@500&family=Kalam:wght@300;400&family=Lobster&family=Montserrat:wght@300&family=Mulish:wght@300;500&family=Pacifico&family=Playfair+Display:ital,wght@0,500;1,700&family=Roboto:wght@100;400&family=Satisfy&family=Yanone+Kaffeesatz&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: Kalam;
}
